* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg, #FF9A9E 10%, #F6416C 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

body::after,
body::before {
    content: '';
    position: absolute;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: .4;
    z-index: -1;
}

body::before {
    clip-path: circle(30% at left 20%);
    background: linear-gradient(135deg, #F6416C 10%, #FF9A9E 100%);
}

body::after {
    clip-path: circle(25% at right 80%);
    background: linear-gradient(135deg, #F6416C 10%, #FF9A9E 50%);
}

.border-c-lb {
    border-radius: 0 0 15px 0;
}

@media (max-width: 650px) {
    .border-c-rb {
        border-radius: 0 0 0 15px;
    }
}

@media (min-width: 650px) {
    .border-ct {
        border-radius: 0 15px 0 0;
    }
}

.bg-about {
    background: url(../img/2/image.jpg) center;
    background-size: cover;
}

.bg-skills {
    background: url(../img/2/image2.jpg) center;
    background-size: cover;
}

.bg-services {
    background: url(../img/2/image3.jpg) center;
    background-size: cover;
}

.bg-portfolio {
    background: url(../img/2/image4.jpg) center;
    background-size: cover;
}

.img-shadow {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3), 
                -25px 25px 0 rgba(255, 0, 0, 0.4), 
                15px 35px 0 rgba(255, 0, 0, 0.4), 
                25px -25px 0 rgba(104, 226, 253, 0.6), 
                -12px -35px 0 rgba(104, 226, 253, 0.655);
}

/* styles the progress bars */
progress::-webkit-progress-value {
    background: rgba(255, 0, 0, 0.4);
    height: 20px;
    border-radius: 20px;
}
progress::-webkit-progress-bar {
    background: lightgrey;
    border-radius: 20px;
    height: 20px;
}

.filterDiv {
    display: none;
}
  
.show {
    display: block;
}

.btn.active {
    background-color: #5f5f5f;
    color: white;
}

/* .animate-profile {
    animation: profile 4s linear infinite;
}

@keyframes profile {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} */ 